<div class="container">
  <div class="row">
    <mat-form-field class="col-md-4">
      <label>Select Type</label>
      <mat-select [(ngModel)]="selectedValue" name="type">
        <mat-option
          (click)="filldata()"
          *ngFor="let type of types"
          [value]="type.value"
        >
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-md-8">
      <ul *ngFor="let ticket of tickets">
        <li>{{ ticket.Name }}</li>
      </ul>
    </div>
  </div>
</div>
