<app-search-list></app-search-list>

{{ message | async | json }}


<!--
<div class="container">
  <button (click)="request()">request Permission</button>
</div>
-->

<!-- 
  <div *ngIf="message">
    <div class="row">
      <pre>{{ message | json }}</pre>
    </div>
    <div class="media-left">
      <a href="#">
        <img class="media-object" style="height:100px" src="{{message.notification.icon}}" alt="{{message.notification.title}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ message.notification.title }}</h4>
      <h6>{{ message.notification.body }}</h6>
    </div>
  </div> -->
